@font-face {
    font-family: 'DBHeavent-Thin';
    src: url('DBHeavent-Thin.eot') format('embedded-opentype'), format('woff'), url('DBHeavent-Thin.ttf') format('truetype'), url('DBHeavent-Thin.svg#DBHeavent-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}